@use "../../styles/variables" as v;
.job-post-detail {
	min-height: 100vh;
	width: 100%;
	.job-post-detail-inner {
		display: flex;
		flex-direction: column;
		width: 100%;
		.job-post-detail-content {
			padding: 4rem 2rem;
		}
		@include v.mq("desk") {
			flex-direction: row;
			.job-post-detail-sidebar {
				position: relative;
				width: 30%;
				padding: 2rem;
				@include v.border-radius-xsm;
			}
			.job-post-detail-content {
				width: 70%;
				padding: 4rem;
			}
		}
	}
}
