.search-bar {
	width: 100%;
	background-color: #a998f6;
	border: 1px solid #b8aaf3;
	padding: 20px 0;
	margin: 40px 0;
	display: flex;
	justify-content: center;
	.search-bar-item {
		padding: 1.4rem;
		width: 25%;
	}
}
