@use "../../styles/variables" as v;
.recruiter-dashboard {
	.recruiter-dashboard-inner {
		position: relative;
		margin-top: 12rem;
		width: 100%;
		min-height: 100rem;
		display: flex;
		.recruiter-dashboard-sidebar {
			padding: 1rem;
		}
		.recruiter-dashboard-content {
			padding: 1rem;
		}
	}
	.dashboard-title {
		margin-bottom: 2rem;
		@include v.text-3xl;
		font-weight: bold;
		color: v.$dark-blue;
	}
}

// .dashboard-sidebar-common {
// 	padding-top: 5rem;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: calc(100vh - 27rem);
// 	background-color: v.$primary-color;
// 	z-index: 3;
// }
// .dashboard-content-common {
// 	width: 100%;
// }
