.suspense-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	.anticon {
		font-size: 12rem;
	}
	&.suspense-loading-2xs {
		height: 6rem;
		.anticon {
			font-size: 3rem;
		}
	}
	&.suspense-loading-xsmall {
		height: 12rem;
	}
	&.suspense-loading-small {
		height: 25rem;
	}
	&.suspense-loading-medium {
		height: 50rem;
	}
	&.suspense-loading-large {
		height: 100vh;
	}
}
