@use "../../styles/variables" as v;
.search-page {
	margin-top: 10rem;
	min-height: 100rem;
	.search-page-inner {
		width: 100%;
		display: flex;
		.search-page-filter {
			width: 30%;
			background-color: v.$light-backround;
			padding: 4rem 2rem;
			box-shadow: 4px 0px 8px 0px rgb(132 144 255 / 50%);
			@include v.border-radius-xsm;
		}
		.search-page-list {
			width: 70%;
			// background-color: red;
		}
	}
}
