@use "../../styles/variables" as v;
.candidate-dashboard {
	.candidate-dashboard-inner {
		padding-top: 12rem;
		width: 100%;
		min-height: 100rem;
		display: flex;
		position: relative;
		.candidate-dashboard-sidebar {
			padding: 1rem;
			overflow: hidden;
		}
		.candidate-dashboard-content {
			padding: 1rem;
		}
	}
	.dashboard-title {
		margin-bottom: 2rem;
		@include v.text-3xl;
		font-weight: bold;
		color: v.$dark-blue;
	}
}
.sidebar-toggle {
	width: 100%;
	height: 6rem;
	display: flex;
	padding: 0 2rem;
	justify-content: flex-start;
	align-items: center;
	@include v.text-2xl;
	color: v.$primary-background;
	cursor: pointer;
}
.dashboard-layout {
	position: relative;
	background: none;
}
.dashboard-drawer {
	position: "absolute";
	z-index: 5;
	.ant-drawer-content-wrapper {
		width: 100% !important;
	}
}

.dashboard-sider {
	background: v.$default-background;
}
