@use "../../../../styles/variables" as v;

.header-item {
	padding: 0.6rem 1rem;
	text-decoration: none;
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	a {
		color: v.$primary-color;
	}
}
